@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: "GreyCliffCF";
    src: url("../public/assets/fonts/GreyCliffCF/greycliffcf-regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "GreyCliffCF";
    src: url("../public/assets/fonts/GreyCliffCF/greycliffCF-demibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "GreyCliffCF";
    src: url("../public/assets/fonts/GreyCliffCF/greycliffCF-bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "GreyCliffCF", sans-serif;
}


body {
    background-color: #F7F7F7;
    color: black;
    min-height: -webkit-fill-available !important;
}


h1 {
    white-space: nowrap;
    font-weight: 600;
    line-height: 1em;
    font-size: 3.75rem;
}

h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h2 {
    font-size: 3em;
    line-height: 1em;
}

h3 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 600;
}

h4 {
    font-size: 1.5rem;
    line-height: 2rem;
}


p, label {
    font-weight: 400;
    font-size: 1.125rem ;
    line-height: 1.75rem;
    opacity: 1;
}


li {
    font-weight: 400;
    font-size: 16px ;
    line-height: 30px;
    opacity: 1;
}

span {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.75rem;
}

svg {
    color: white;
}


input, textarea {
    border-radius: 10px;
    margin-top: 0.3em;
    padding: 10px;
    color: black !important;
    border: 1px solid rgb(0, 0, 0, 10%);
}


input:focus, textarea:focus {
    outline: 1px solid transparent !important;
}


input[data-autocompleted] {
    background-color: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

*::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}


.absolute-vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.absolute-vertical-center-header {
    position: absolute;
    top: 50%;
    transform: translate(-0%, -50%);
}


.fixed-center-element {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.fixed-center-element-horizontal {
    bottom: 3rem;
    left: 50%;
    transform: translate(-50%, -50%);
}


.absolute-center-horizontal {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}


.rounded-burger-menu {
    border-radius: 9999px 0px 9999px 9999px;
}


.circle-boxShadow {
    -webkit-box-shadow: 0 4px 10px -2px rgba(230, 61, 49, 0.8);
    box-shadow: 0 4px 10px -2px rgba(230, 61, 49, 0.8);
}

.white-inner-shadow {
    background: linear-gradient(0deg, white, transparent 50%);
}

.player-wrapper {
    height: 100%;
}

.video-rounded-webkit video {
    -webkit-border-radius: 30px !important;
}

.safari-overflow-fix {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.rowfit-grid {
    grid-template-rows: auto 1fr;
}

.carousel .slide .legend {
    font-size: 16px !important;
    opacity: 1 !important;
}

.custom-border {
    background-image: url("../public/assets/images/dash-custom-border.svg");
    background-repeat: repeat-y;
}

.slider-wrapper {
    padding-bottom: 10px !important;
}

html, .heightfix-ios {
    height: -webkit-fill-available !important;
}

.drop-shadow-custom {
    --tw-drop-shadow: drop-shadow(0 25px 25px rgb(0 0 0 / 0.3));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}


/*Responsive*/


@media screen and (min-width: 400px) and (max-width: 728px) {


    .absolute-vertical-center-mobile {
        position: absolute;
        top: 50%;
        left: 1.75rem !important;
        transform: translate(-0%, -50%);
    }


    .absolute-vertical-center-mobile-header {
        position: absolute;
        top: 50%;
        transform: translate(-0%, -50%);
    }

    h1 {
        font-size: 2em;
        line-height: 35px;
        white-space: normal;
    }

    h2, h3, h4 {
        font-size: 1.8em;
        line-height: 35px;
        white-space: normal;
    }


    .navbar li a {
        font-size: 1.3rem;
    }

    p {
        line-height: 30px;
    }


    a {
        font-size: 1em;
    }

    .rounded-header-mobile-tablet {
        border-radius: 30px;
    }
}


@media screen and (max-width: 1024px) {

    h1 {
        font-size: 2.75em;
        line-height: 1em;
    }

    h2, h3, h4 {
        line-height: 2.5rem;
        font-size: 2.25em;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    h4 {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}


@media screen and (min-width: 1024px) and (max-width: 1280px) {



    .object-custom-top-position {
        object-position: 0% 10%;
    }

    .rounded-header-effect-desktop {
        animation: rounded 2s forwards;
        animation-delay: 3s;
    }

    @keyframes rounded {
        0% {
            border-radius: 0
        }
        100% {
            border-radius: 60px;
            margin: 2rem 2em 0em 2em
        }
    }

    .fade-animation {
        animation: fadeIn 4s forwards;
        animation-delay: 5s;
        opacity: 0;
    }

    .fade-transition-hamburger {
        animation: fadeIn 2s forwards;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }


    .apparition-from-bottom-text {
        animation: fadeIn 3s forwards, text-bottom-to-top 3s forwards;
        animation-delay: 4s;
    }

    .apparition-from-bottom-absolute {
        animation: fadeIn 3s forwards, text-bottom-to-top-absolute 3s forwards;
        animation-delay: 4s;
    }


    .apparition-from-top {
        animation: fadeIn 3s forwards, text-top-to-bottom 3s forwards;
        animation-delay: 4s;
    }


    .apparition-from-bottom-hamburger-menu {
        animation: fadeIn 6s, text-bottom-to-top 4s;
    }


    .bounce-click-effect {
        animation: bounceEffect 2s;
    }


    .animation-direction-reverse {
        animation-direction: reverse;
    }


    .animation-zoom-in {
        animation: zoomIn 4s forwards;
        animation-delay: 2s;
    }


    @keyframes zoomIn {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.25);
        }
    }


    @keyframes text-bottom-to-top {
        0% {
            transform: translateY(40px)
        }
        40% {
            transform: translateY(40px)
        }
        100% {
            margin-top: 0
        }
    }



    @keyframes text-top-to-bottom {
        0% {
            margin-top: -40px
        }
        40% {
            margin-top: -40px
        }
        100% {
            margin-top: 0
        }
    }


    @keyframes text-bottom-to-top-absolute {
        0% {
            bottom: 1.5rem
        }
        40% {
            bottom: 1.5rem
        }
        100% {
            bottom: 2.5rem
        }
    }

}
