@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "SF Pro", sans-serif;
}


/*noinspection ALL*/
body {
    background-color: #F7F7F7;
    color: black;
    min-height: -webkit-fill-available !important;
}


svg {
    color: white;
}

p{
    font-size: 12px;
}

input, textarea {
    border-radius: 10px;
    margin-top: 0.3em;
    padding: 10px;
    color: white !important;
    border: 1px solid rgb(0, 0, 0, 10%);
}


input:focus, textarea:focus {
    outline: 1px solid transparent !important;
}


input[data-autocompleted], input:autofill, input:-webkit-autofill, input:-internal-autofill-selected  {
    background-color: transparent !important;
}

*::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}


.absolute-vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.absolute-vertical-center-header {
    position: absolute;
    top: 50%;
    transform: translate(-0%, -50%);
}

.white-inner-shadow {
    background: linear-gradient(0deg, #F7F7F7, transparent 50%);
}

.video-rounded-webkit video {
    -webkit-border-radius: 30px !important;
}

.safari-overflow-fix {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.custom-border {
    background-image: url("../public/assets/images/dash-custom-border.svg");
    background-repeat: repeat-y;
}

.gradient-linear-background-black {
    background: rgb(0, 0, 0);
    background: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 47%);
}


.custom-grid-column:nth-child(2) {
    margin-top: 5%;
}

.custom-grid-column:nth-child(3) {
    margin-top: 7%;
}

.custom-grid-column:nth-child(4) {
    margin-top: 13%;
}

.custom-grid-column:nth-child(5) {
    margin-top: 6%;
}

.custom-grid-column:nth-child(6) {
    margin-top: 9%;
}

.custom-grid-column:last-child {
    margin-top: 2%;
}

.header-height {
    @apply md:min-h-[95vh] min-h-[60vh];
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


/*Responsive*/


@media screen and (max-width: 768px) {

    h1 {
        font-size: 48px;
        line-height: 48px;
    }

    h2 {
        font-size: 42px;
        line-height: 42px;
    }

    span {
        font-size: 38px;
        line-height: 42px;
        font-weight: 500;
    }

}

@media screen and (min-width:768px) and (max-width: 1280px) {

    h1 {
        font-size: 58px;
        line-height: 58px;
    }

    h2 {
        font-size: 54px;
        line-height: 54px;
    }

    span {
        font-size: 38px;
        line-height: 42px;
        font-weight: 500;
    }

}

@media screen and (min-width: 768px) {
    p {
        font-size: 16px;
        line-height: 23px;
    }
}


@media screen and (min-width: 1280px) {

    h1 {
        font-size: 84px;
        line-height: 84px;
    }

    h2 {
        font-size: 72px;
        line-height: 72px;
    }

    span {
        font-size: 44px;
        line-height: 49px;
    }

    .custom-grid-column:first-child, .custom-grid-column:nth-child(7) {
        width: 5% !important;
    }

    .custom-grid-column:nth-child(2), .custom-grid-column:nth-child(3), .custom-grid-column:nth-child(4), .custom-grid-column:nth-child(5), .custom-grid-column:nth-child(6) {
        width: 18% !important;
    }

    .custom-grid-column:nth-child(3), .custom-grid-column:nth-child(5) {
        width: 35% !important;
    }

    .custom-grid-column:first-child img {
        border-radius: 0 30px 30px 0 !important;
    }

    .custom-grid-column:last-child img {
        border-radius: 30px 0 0 30px !important;
    }

}
