@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: "GreyCliffCF";
    src: url("../public/assets/fonts/GreyCliffCF/greycliffcf-regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "GreyCliffCF";
    src: url("../public/assets/fonts/GreyCliffCF/greycliffCF-demibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "GreyCliffCF";
    src: url("../public/assets/fonts/GreyCliffCF/greycliffCF-bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "GreyCliffCF", sans-serif;
}


body {
    background-color: white;
    color: black;
    min-height: -webkit-fill-available !important;
}


html {
    height: -webkit-fill-available !important;
}


h1, h2, h3, h4, h5, h6, span {
    white-space: nowrap;
    font-weight: 700;
}


p, li {
    font-weight: 400;
    font-size: 16px ;
    line-height: 30px;
    opacity: 1;
}

h2 {
    font-size: 80px;
    line-height: 80px;
}

h3 {
    font-size: 3.5em;
    line-height: 48px;
}

h4 {
    font-size: 2em;
}

svg {
    color: white;
}


input, textarea {
    border-radius: 10px;
    margin-top: 0.3em;
    padding: 10px;
    color: black !important;
    border: 1px solid rgb(0, 0, 0, 10%);
}


input:focus, textarea:focus {
    outline: 1px solid transparent !important;
}


input[data-autocompleted] {
    background-color: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

*::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}


.absolute-vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.absolute-vertical-center-header {
    position: absolute;
    top: 50%;
    transform: translate(-0%, -50%);
}


.fixed-center-element {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.fixed-center-element-horizontal {
    bottom: 3rem;
    left: 50%;
    transform: translate(-50%, -50%);
}


.absolute-center-horizontal {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}


.rounded-burger-menu {
    border-radius: 9999px 0px 9999px 9999px;
}


.circle-boxShadow {
    -webkit-box-shadow: 0 4px 10px -2px rgba(230, 61, 49, 0.8);
    box-shadow: 0 4px 10px -2px rgba(230, 61, 49, 0.8);
}

.white-inner-shadow {
    background: linear-gradient(0deg, white, transparent 50%);
}

.player-wrapper {
    height: 100%;
}

.video-rounded-webkit video {
    -webkit-border-radius: 30px !important;
}

.safari-overflow-fix {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.rowfit-grid {
    grid-template-rows: auto 1fr;
}

.carousel .slide .legend {
    font-size: 16px !important;
    opacity: 1 !important;
}


/*Responsive*/

@media screen and (max-width: 400px) {

    h1 {
        font-size: 1.7em;
        line-height: 35px;
        white-space: normal;
    }

    h2, h3, h4 {
        font-size: 1.5em;
        line-height: 30px;
        white-space: normal;
    }
}


@media screen and (min-width: 400px) and (max-width: 728px) {


    .absolute-vertical-center-mobile {
        position: absolute;
        top: 50%;
        left: 1.75rem !important;
        transform: translate(-0%, -50%);
    }


    .absolute-vertical-center-mobile-header {
        position: absolute;
        top: 50%;
        transform: translate(-0%, -50%);
    }

    h1 {
        font-size: 2em;
        line-height: 40px;
        white-space: normal;
    }

    h2, h3, h4 {
        font-size: 1.8em;
        line-height: 30px;
        white-space: normal;
    }


    .navbar li a {
        font-size: 1.3rem;
    }

    p {
        line-height: 30px;
    }


    a {
        font-size: 1em;
    }

    .rounded-header-mobile-tablet {
        border-radius: 30px;
    }
}


@media screen and (min-width: 728px) and (max-width: 1024px) {

    h1 {
        font-size: 3em;
        line-height: 50px;
    }

    h2 {
        line-height: 45px;
        font-size: 2.4em;
    }
}


@media screen and (min-width: 1024px) and (max-width: 1280px) {

    h1 {
        font-size: 3em;
        line-height: 50px;
    }

    h2 {
        font-size: 2.5em;
        line-height: 40px;
    }


    .object-custom-top-position {
        object-position: 0% 10%;
    }

    .rounded-header-effect-desktop {
        animation: rounded 2s forwards;
        animation-delay: 3s;
    }

    @keyframes rounded {
        0% {
            border-radius: 0
        }
        100% {
            border-radius: 60px;
            margin: 2rem 2em 0em 2em
        }
    }

    .fade-animation {
        animation: fadeIn 4s forwards;
        animation-delay: 5s;
        opacity: 0;
    }

    .fade-transition-hamburger {
        animation: fadeIn 2s forwards;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }


    .apparition-from-bottom-text {
        animation: fadeIn 3s forwards, text-bottom-to-top 3s forwards;
        animation-delay: 4s;
    }

    .apparition-from-bottom-absolute {
        animation: fadeIn 3s forwards, text-bottom-to-top-absolute 3s forwards;
        animation-delay: 4s;
    }


    .apparition-from-top {
        animation: fadeIn 3s forwards, text-top-to-bottom 3s forwards;
        animation-delay: 4s;
    }


    .apparition-from-bottom-hamburger-menu {
        animation: fadeIn 6s, text-bottom-to-top 4s;
    }


    .bounce-click-effect {
        animation: bounceEffect 2s;
    }


    .animation-direction-reverse {
        animation-direction: reverse;
    }


    .animation-zoom-in {
        animation: zoomIn 4s forwards;
        animation-delay: 2s;
    }


    @keyframes zoomIn {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.25);
        }
    }


    @keyframes text-bottom-to-top {
        0% {
            transform: translateY(40px)
        }
        40% {
            transform: translateY(40px)
        }
        100% {
            margin-top: 0
        }
    }



    @keyframes text-top-to-bottom {
        0% {
            margin-top: -40px
        }
        40% {
            margin-top: -40px
        }
        100% {
            margin-top: 0
        }
    }


    @keyframes text-bottom-to-top-absolute {
        0% {
            bottom: 1.5rem
        }
        40% {
            bottom: 1.5rem
        }
        100% {
            bottom: 2.5rem
        }
    }

}

@media screen and (min-width: 1280px) {

    h1 {
        line-height: 70px;
        font-size: 3.8em;
    }

    h2 {
        font-size: 3em;
        line-height: 50px;
    }

}

